%h1.current-category
  = params[:category]

- if @plays.count == 0
  %h3 There are no plays in this category
-else
  .row
    - @plays.each do |play|
      .col-md-3
        = link_to image_tag(play.play_img.url(:play_index), class: "play"), play_path(play)
